/* 主容器 */
ul.main-menu {
  padding-left: 0;
  list-style: none;
  margin: 0;
  overflow: auto;
  scrollbar-width: none;
}

ul.sub-menu {
  font-size: 14px;
  list-style: none;
  text-align: center;
  margin: 0;
}

.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.arrow.expanded {
  transform: rotate(90deg);
}

.arrow-icon {
  margin-left: 8px;
  font-size: 0.9em;
  color: white; /* 保持白字 */
}

.menu-container {
  position: relative; 
  background-color: #40a0f0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: left;
  max-width: 800px;
  height: 100%;
}


/* 主菜单项 */
.menu-header {
  color: white;
  background-color: inherit; /* 蓝底 */
  padding: 20px 20px;
  margin: 5px 0;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.5s;
}

.menu-header.active {
  color: #333;
  background-color: #187bcd;
}

.menu-header:hover {
  background-color: #187bcd; /* 悬停时深蓝色 */
}

/* 子菜单 */
.sub-menu.off{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  padding: 0;
}

.sub-menu.open {
  max-height: 200px; /* 子菜单最大高度 */
  transition: max-height 0.5s ease;
  padding: 0;
  overflow: hidden;
}

.sub-item {
  background-color: #439ffa; 
  color: white;
  padding:15px;
  border-bottom: #333 solid 1.5px;
  border-radius: 3px;
  transition: all 1s;
}

.sub-item.active{
  background-color: #037edd; 
}

[data-theme='dark'] .sub-item {
  background-color: #0e5aa5; 
}

[data-theme='dark'] .sub-item.active{
  background-color: #468acf; 
}

.sub-item:hover {
  background-color: #298ce9; 
}

.change-theme-btn{
  position: absolute;
  bottom: 20px;         
  left: 50%;             
  transform: translateX(-50%);  
  padding: 10px 20px;
  background-color: #eee;
  border: none;
  border-radius: 6px;
}