.restaurant-container{
    height: 100vh;
    transition: background-color 1s ease;
    background-color: inherit;
}


.store{
  background-color: white;
  padding-top:10px;
  height: 180px; /* 根据需要调整高度 */
  display: flex;
  margin-top: 10px;
  align-items: flex-start; /* 根据需要调整对齐方式 */
  border-radius: 10px;
}

[data-theme='dark'] .store{
    background-color: #272727;
    transition: background-color 1s ease;
}


.store-icon {
  width: 100px; 
  height: 100px; 
  padding: 20px; 
  background-color: #f2f2f2; 
  border-radius: 20px; 
  transition: background-color 1s ease;
}


[data-theme='dark'] .store-icon {
    background-color:#121212; 
    transition: background-color 1s ease;
}

.store-details {
  display: flex;
  overflow: auto;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 10px; 
  width: 75%;
  overflow: auto;
}

.store-info p {
  overflow: auto;
  margin: 0; 
}
